.control--radio{
    cursor: default;
    padding-left: .8rem;
    margin-right: 1.3rem;


    .label{
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
      padding-left: .5rem;
      
      &::before{
        cursor: pointer;
        content: "";
        display: inline-block;
        position: absolute;
        width: $size__checkbox;
        height: $size__checkbox;
        top: 0;
        left: 0;
        margin-left: -2rem;
        border-radius: 50%;
        @include input-border();
      }
        
      &::after{
        cursor: pointer;
        display: inline-block;
        position: absolute;
        content: " ";
        width: $size__checkbox;
        height: $size__checkbox;
        left: 0;
        top: 0;
        margin-left: -20px;
        border-radius: 50%;
        background-color: $background__check;
        transform: scale(0, 0);
        @include input-border();
        transition: transform .1s cubic-bezier(.8,-0.33,.2,1.33);
      }   
    }
    
    .radio{
        position: static;
        margin-left: 0;
        cursor: pointer;
        opacity: 0;
        z-index: 1;
       
        &:focus + .label::before {
          @include focusable-active();
        }

        &:checked + label::after{
          transform: scale(1, 1);
        }
        
        &:disabled {
          cursor: not-allowed;
        }
        &:disabled + .label {
          color: $color__text-muted;

          &::before {
            @include input-border(disabled);
        }
      }

      &:focus + .label::before{
        @include focusable-active();
      }

      &:checked:focus + .label::after{
        background-color: darken($background__check, 20%);
      }

  }
    
  &.radio-inline{
    margin-top: 0;
  }
}
