// Available color variables
// Aiming for “AA” of WCAG. 
// Test - http://colorsafe.co/
$color__white:          white;
$color__fiord:          #585250;
$color__black-russian:  #202124;
$color__brown-dark:     #585250;
$color__brown-light:    #9c938f; 
$color__royal-blue:     #1C5AEA;
$color__orange-dark:    #b95151;