// Colorings for draft purposes
#app {
    background: #eff6fc;
}

.page-header {
    background: #d9e9f7;

}

.aside {

    .container {
        background: white;
    }
}

.main {

    .container {}
}

.page-footer {
    background: #d9e9f7;
}




#app {
    background: #f4f1e9;
}

.page-header {
    background: #e2d0c7;

}

.aside {

    .container {
        background: white;
    }
}

.main {

    .container {}
}

.page-footer {
    background: #e2d0c7;
}