.page-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh;
}

.page-header {
    flex: 0 0 auto;
}

.page-footer {
    flex: 0 0 auto;
}

.page-content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;  

    @include breakpoint-up(lg) {
        flex-direction: row;
    }

    .aside {
        order: 1;

        @include breakpoint-up(lg) {
            flex: 0 0 300px;
        }
    }

    .main {
        flex-grow: 1;
        order: 2;
    }
}

.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 576px) {
        flex-direction: column;
    }
}

.container {
    margin: 0 auto;
    @include make-container-max-widths();
    
    .content-wrapper {
        padding: $size__gutter;
    }
}
